<nav>
  <a routerLink="/">Home</a>

  <!-- Show profile link if the user is logged in -->
  <div *ngIf="user$ | async as user; else loggedOut">
    <span>Welcome, {{ user.firstName }} </span>

    <!-- Profile link -->
    <a routerLink="/profile">Profile</a>

    <!-- Edit Profile link (shown if the user is an admin or editing their own profile) -->
    <a *ngIf="authService.isUserAdmin() || isCurrentUser" routerLink="/profile-update">Edit Profile</a>

    <!-- Only show All Users link if the current user is an admin -->
    <a *ngIf="authService.isUserAdmin()" routerLink="/all-users">All Users</a>
    
    <!-- Logout button -->
    <button (click)="logout()">Logout</button>
  </div>

  <!-- Links for users who are not logged in -->
  <ng-template #loggedOut>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </ng-template>
</nav>
