<div class="favorites-container">
    <h2>Your Favorite Flats</h2>
  
    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Street Name</th>
          <th>Street Number</th>
          <th>Area Size</th>
          <th>Year Built</th>
          <th>Rent Price</th>
          <th>Date Available</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flat of favoriteFlats">
          <td>{{ flat.city }}</td>
          <td>{{ flat.streetName }}</td>
          <td>{{ flat.streetNumber }}</td>
          <td>{{ flat.areaSize }}</td>
          <td>{{ flat.yearBuilt }}</td>
          <td>${{ flat.rentPrice }}</td>
          <td>{{ flat.dateAvailable }}</td>
          <td>
            <button (click)="removeFavorite(flat.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  