<div class="all-flats-container">

<table>
    <thead>
      <tr>
        <th>City</th>
        <th>Street Name</th>
        <th>Street Number</th>
        <th>Area Size</th>
        <th>Year Built</th>
        <th>Rent Price</th>
        <th>Date Available</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flat of flats">   
        <td>{{ flat.city }}</td>
        <td>{{ flat.streetName }}</td>
        <td>{{ flat.streetNumber }}</td>
        <td>{{ flat.areaSize }}</td>
        <td>{{ flat.yearBuilt }}</td>
        <td>${{ flat.rentPrice }}</td>
        <td>{{ flat.dateAvailable }}</td>
        <td>{{ flat.userName }}</td>
        <td>
          <button [routerLink]="['/flats', flat.id]">View flat</button>
          <button (click)="markAsFavorite(flat.id)">Favorite</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
